
body {
    background-image: url('images/jjjj.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;

}

.header {
    text-align: center;
    margin: 15px;
    padding: 15px;
}

.container {
    margin-top: 2%;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
    display: block;
    width: 93%;
}

.float {
    float: left;
    display: inline-block;
}

@keyframes si{
    0%{
        padding: 1px;
    }
    25%{
        padding: 1.3px;
    }
    50%{
        padding: 1.6px;
    }
    75%{
        padding: 1.9px;
    }
    100%{
        padding: 2.1px;
    }
}

.lifeline {
    width: 15%;
}

img.lifeline {
    margin: 20px;
    border: 2px solid rgb(0, 255, 247);
    border-radius: 25px;
    display: block;
    width: 50px;
}


img.lifeline:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    text-shadow: 2px 2px 2px red;
    box-shadow: 2px 2px 1.5px red;
    animation: size 0.1s forwards;

}

.quiz {
    width: 50%;
    margin-right: 25px;
}

.question {
    border: 2px solid rgb(0, 255, 247);
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    margin-top: 25px;
}

.ans {
    border: 2px solid rgb(0, 255, 247);
    border-radius: 15px;
    width: 250px;
    margin: 15px 30% 15px 30%;
    display: block;
    padding: 5px;
}
@keyframes size{
    0%{
        padding: 5px;
    }
    25%{
        padding: 5.3px;
    }
    50%{
        padding: 5.6px;
    }
    75%{
        padding: 5.9px;
    }
    100%{
        padding: 6.1px;
    }
}

.ans:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    text-shadow: 3px 3px 7px red;
    box-shadow: 3px 3px 2px red;
    animation: size 0.1s forwards;

}
.corr:hover{
    background-color: rgb(6, 193, 6);
}
.price {
    width: 25%;
}

.prices {
    margin: 7px 0px 7px 30px;
    width: 60%;
    border: 2px solid rgb(0, 255, 247);
    border-radius: 15px;
    padding: 2px;
    text-align: center;
}

@keyframes pr{
    0%{
        padding: 2px;
    }
    25%{
        padding: 2.3px;
    }
    50%{
        padding: 2.6px;
    }
    75%{
        padding: 2.9px;
    }
    100%{
        padding: 3.1px;
    }
}
.prices:hover {
    background-color: rgb(6, 193, 6);
    cursor: pointer;
    text-shadow: 3px 3px 7px red;
    box-shadow: 3px 3px 2px red;
    animation: size 0.1s forwards;

}

.cont_button {
    margin: 25px;
    display: inline-block;
    width: 93%;
}

.button {
    position: absolute;
    text-decoration: none;
    font-size: 35px;
    color: rgb(0, 255, 247);
    border: 2px solid rgb(0, 255, 247);
    border-radius: 40%;
    padding: 15px;
}

.button:hover {
    background-color: black;
    text-shadow: 2px 2px 7px gold;
}

.back {
    float: left;
    left: 15%;
}

.next {
    float: right;
    right: 15%;
}
.kbc {
text-align: center;
padding: 9%;
margin: 12%;
text-decoration: underline;
font-size: 150%;
}
.switch{
    text-decoration: none;
    font-size: 35px;
    color: rgb(0, 255, 247);
    border: 2px solid rgb(0, 255, 247);
    border-radius: 40px;
    padding: 15px;
}
.green{
    background-color: green;
}





.corrr:hover{
    color: aliceblue;
    background-color: rgb(6, 193, 6);
    text-decoration: none;
}
.kbcc {
    text-align: center;
    padding: 9%;
    margin: 12%;
   
    font-size: 150%;
    }
